@font-face {
  font-family: roboto;
  src: url("roboto.ttf");
}

* {
  font-family: roboto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1E1E1E;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #929292;
  font-size: 6rem;
  margin: 6px;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 3rem;
  }
}

.fullWidth {
  width: 100%;
}

.h2 {
  color: white;
}

p {
  color: #bdbdbd;
  margin: 0 12px;
}

button {
  border: 6px solid transparent;
  border-left-style: double;
  border-right-style: double;
  border-radius: 60px;
  border-color: rgb(58, 155, 210);
  padding: 12px 16px;
  margin: 8px;
  color: #3A9BD2;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: #46464627;
}

button:hover, button:focus {
  background-color: #92929227;
}

nav {
  background-color: #1e1e1ebb;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10000;
  
  a {
    color: white;
    text-decoration: none;
    margin: 12px;
    text-wrap: nowrap;
  }
}
a:hover, button:hover {
  cursor: pointer;
}

#navScrollBar {
  border-radius: 10000px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 40px;
  height: 5px;
  z-index: 10001;
  /*width is set as user scrolls via the variable*/
  width: 0;
}

.rows {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
}

.cols {
  display: flex;
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1200px;
}

.coolBorder {
  border: 12px solid transparent;
  border-left-style: double;
  border-right-style: double;
  border-radius: 60px;
  clip-path: polygon(30% 0, 100% 0, 100% 70%, 70% 100%, 0 100%, 0 30%);
}

.verticalPill {
  width: 30px;
  min-width: 30px;
  margin-right: 12px;
}

@media screen and (max-width: 400px) {
  .verticalPill {
    width: 20px;
    min-width: 20px;
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all .5s ease-in-out;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .8s ease-in-out;
}

.slide-up-enter-from,
.slide-up-leave-to {
  transform: translateY(10px);
  opacity: 0;
}