* {
  font-family: 'Roboto';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #1E1E1E;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #929292;
  font-size: 6rem;
  margin: 6px;
}

.h2 {
  color: white;
}

p {
  color: #bdbdbd;
}

button {
  color: #D1D1D1;
  background-color: #2C2C2C;
  border-radius: 25px;
  padding: 12px 24px;
  border-style: none;
  margin: 8px;
}

nav {
  background-color: #1e1e1ebb;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10000;
  
  a {
    color: white;
    text-decoration: none;
    margin: 12px;
    text-wrap: nowrap;
  }
}

#navScrollBar {
  border-radius: 10000px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 40px;
  height: 5px;
  z-index: 10001;
  /*width is set as user scrolls via the variable*/
  width: 0;
}

.rows {
  display: flex;
  flex-direction: row;
}
.cols {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 1200px;
}